<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    input {
      margin: 10px
    }
  </style>
</head>

<body>

  <form action="http://localhost:8081/addUser" method="GET">
    Name: <input type="text" name="name">
    <br> Password: <input type="password" name="password">
    <br> Profession: <input type="text" name="profession">
    <br> Id: <input type="number" name="id">
    <input type="submit" value="Submit">
  </form>
</body>

</html>