@import '../base/config';
$bgColor:#F7F7F7;
$themeColor: #FF5A00;
$fontColor: #333333;
body {
    background-color: $ftColor;
}

.hd-area {
    padding: 0 28/$bfSize *1rem;
    font-size: 32/$bfSize * 1rem;
    line-height: 84/$bfSize *1rem;
    background-color: $white;
    .hd-arrow {
        max-width: 32/$bfSize *1rem;
        img {
            vertical-align: -2px;
        }
    }
    .hd-title {
        padding-right: 32/$bfSize *1rem;
    }
}

.bd-area,
.ft-area {
    text-align: center;
    padding: 0 28/$bfSize *1rem;
}

.bd-area {
    padding-top: 65/$bfSize *1rem;
    background-size: contain;
    margin-bottom: 146/$bfSize *1rem;
    .bd-img img {
        height: 320/$bfSize *1rem;
        margin-bottom: 20/$bfSize *1rem;
    }
    .bd-info {
        // margin: 1.5rem 0 .7rem;
        color: $infoColor;
        font-size: .9rem;
        h5 {
            color: $themeColor;
            font-size: 32/$bfSize * 1rem;
            line-height: 65/$bfSize *1rem;
        }
        p {
            color: $fontColor;
            font-size: 22/$bfSize * 1rem;
            line-height: 36/$bfSize *1rem;
        }
    }
}

.ft-area {
    .ft-btn {
        margin-bottom: 50/$bfSize * 1rem
    }
}