@import '../base/mix';

 
.eve-ft{
  position: relative;
  color: $white;
  text-align: center;
  padding: (57/$bfSize) *1rem (20/$bfSize) * 1rem;
  background-color: $ftColor;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 12px solid $white;
    border-bottom: 12px solid transparent;
  }
  
  $height:  (80/$bfSize)* 1rem;
  .ft-tit{
    position: relative;
    z-index: 1;
    margin: 0 auto; 
    @include btnCss($showWay: block, $color3: $warmColor, $line: $height, $radius: $height);
    width: (378/$bfSize) * 1rem;
    font-weight: bold;
    font-size: (48/$bfSize) *1rem;
  }
  .ft-item{
    background: url("http://m.ppdaicdn.com/msite/img/landing/card.png") no-repeat center left;
    background-size: 30%;
    height: (187/$bfSize) *1rem;
    padding-left: (180/$bfSize) *1rem;
    h3{
       margin-bottom: (20/$bfSize) *1rem;
      font-weight: bold;
      font-size: (38/$bfSize) *1rem;
      i{
        font-size:(45/$bfSize)*1rem;
        font-weight: bold;
        vertical-align: -2px;
      }
    }
    span{
      font-size: (30/$bfSize) *1rem;
      i{
        font-size:(33/$bfSize)*1rem;
        vertical-align: -2px;
      }
    }
    @media screen and (max-width: 320px){
      padding-left: (165/$bfSize) *1rem;
    }
  }
  .ft-ul{
    text-align: left;
    margin-top: -$height/2;
    padding: $height (60/$bfSize) *1rem $height/2;
    border: 1px solid $warmBorder;
    border-radius: .5rem;
    letter-spacing: .01rem;
    background-color: $ftInn;

    &>.ft-item:nth-child(2){
      background-image: url("http://m.ppdaicdn.com/msite/img/landing/clock.png");
    }
    &>.ft-item:nth-child(3){
      background-image: url("http://m.ppdaicdn.com/msite/img/landing/hand.png");
    }
    @media screen and (max-width: 320px){
      padding: $height (45/$bfSize) *1rem $height/2;
    }
  }
}
