//*==screen config==*
//*--for wap--*
$maxScreen: 750px;
$bfSize: 26.66; //base font size
//count rem:  px/$bfSize * 1rem;
//*==color config==*
$white: #fff;
$linkColor: #2f2f2f;
$lightColor: #d22f24;
$infoColor: #d55f00;
$ftColor: #FF9A0A;
$ftInn: #FF9600;
$warmColor: #FF7418;
$borderColor: #E6E6E6;
$warmBorder: #FFC777;
$btnBlue: #4FB4F6;
//*==btn config==*
$radiusBtn: .3rem;
$fontBColor: #ababab;