//*==screen config==*
//*--for wap--*
$maxScreen: 750px;
$bfSize: 31.25; //base font size

//*==color config==*

$white: #fff;

$textColor: #55eedd;

$lightColor : #d22f24;
$infoColor: #d55f00;


$ftColor: #FF9A0A;
$ftInn: #FF9600;


$warmColor: #FF7418;
$warmBorder: #FFC777;


//*==btn config==*
$radiusBtn: .3rem;
