@import 'mix';

//*eve btn*
a.eve-btn-link{
  @include btnCss();
  width: 100%;
  max-width: 18rem;
  font-size: .9rem;
}


//*eve flex*
.eve-flex-child{@include flexChild();}
.eve-flex-par{@include flexPar();}
.eve-full-img{@include fullImg();}